@font-face {
    font-family: 'Montserrat';
    src: url('../abstractions/montserrat/montserrathairline.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat Bold';
    src: url('../abstractions/montserrat/montserratbold.woff') format('woff2');
    font-weight: 700;
    font-style: normal;
}


@mixin fontRegular($_fontSize, $_lineHeight) {
    font-size: $_fontSize;
    line-height: $_lineHeight;
    font-family: 'Montserrat';
}

@mixin fontBold($_fontSize, $_lineHeight) {
    font-size: $_fontSize;
    line-height: $_lineHeight;
    font-family: 'Montserrat Bold';
}